<div>
    @if (cargando){
        <h2>cargando... datos... espereen linea por favor </h2>
    } else if(pokemonData) {

        <div>
            <h1> {{pokemonData.name}}</h1>
            <img src="{{pokemonData.sprites.other['official-artwork'].front_default}}>
            <h3> Estadistica Base</h3>
            <ul>
                @for (stat of pokemonData.stats; track stats.stat.name){ {
                    <li><strong>{{stat.stat.name}}:</strong> {{stat.base_stat}}</li>
                }
            </ul>
            <a routerLink="/pokemon-lista">Volver a la lista</a>
        </div>

    }else {
        <h2>Pokemon no encontrado</h2>
        }


</div>